/*
CONFUGURANDO BOTÃO SPAN
*/


span {
  background-color: #000501;
  position: absolute;
  width: 60px;
  height: 8px;
  top: 70px;
  right: 30px;
  transition: all 0.4s linear;
}
span:before{
  content: '';
  width: 60px;
  height: 8px;
  bottom: -25px;
  position: absolute;
  background-color: #000501;
  transition: all 0.4s linear;
}
span:after{
  content: '';
  width: 60px;
  height: 8px;
  bottom: 25px;
  position: absolute;
  background-color: #000501;
  transition: all 0.4s linear;
}


/*
MOSTRANDO O MEU
*/

#check {
  display:none;
}

#check:checked ~ span{
  width: 90px;
  border-radius: 10px;
  background-color: #210b2c;
  transform: translate(0px, 0px) rotate(0deg);
  transition-duration: 0s;
}
#check:checked ~ span:before{
  width: 60px;
  background-color: #210b2c;
  border-radius: 10px;
  transform: translate(-5px, -5px) rotate(40deg);
}
#check:checked ~ span:after{
  width: 60px;
  background-color: #210b2c;
  border-radius: 10px;
  transform: translate(-5px, 5px) rotate(-40deg)
}
#check:checked ~ span{
  transform: translate(0px, 0px) rotate(90deg);
}

/*#check:checked ~ label h1{
  margin-left: 30px;
  transition-duration: 0.4s;
}*/

#check:checked ~ nav{
  transform: translateY(1600px);
  transition-delay: 0s;
  transition-duration: 0.4s;
}
