
/*
GERAL
*/
*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(27, 149, 224);
  background-image: linear-gradient(135deg, rgb(29, 161, 242), rgb(152, 28, 235));
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
footer {
  display: none;
}
h1, h2, h3 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
}

/*
CONFUGURANDO BOTÃO SPAN
*/


span {
  background-color: #f1f1f1;
  position: absolute;
  width: 7%;
  height: 0.7%;;
  top: 5%;
  right: 0%;
  transition: all 0.4s linear;
}
span:before{
  content: '';
  width: 100%;
  height: 100%;
  bottom: -20px;
  position: absolute;
  background-color: #f1f1f1;
  transition: all 0.4s linear;
}
span:after{
  content: '';
  width: 100%;
  height: 100%;
  bottom: 20px;
  position: absolute;
  background-color: #f1f1f1;
  transition: all 0.5s linear;
}

/*--------- chegando uma coisas -------------*/
#check {
  display: none;
}
#check:checked ~ span {
  background-color: #ffffff;
}
#check:checked ~ nav{
  position: absolute;
  top:11%;
  transform: translateX(1200px);
  transition-delay: 0s;
  transition-duration: 0.4s;
}
#check:checked ~ header{
  display: none;
}
#check:checked ~ main{
  display: none;
}


/*---------- BARRA DE TÍTULO ------------*/
label h1 {
  flex-direction: column;
  width: 90%;
  padding: 5%;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 1%;
  color:#f1f1f1;
  background-color: transparent;
}

/*----- MENU DE NAVEGAÇÃO ------*/

.menu {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 9%;
  left: -1200px;
}

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,.5);
    list-style: none;
    border-radius: 2%;
    padding: 7%;
    width: 80%;
    height: 100%;
  }

    .menu ul li {
      background-color: rgb(27, 149, 224);
      background-image: linear-gradient(135deg, rgb(29, 161, 242), rgb(152, 28, 235));
      box-shadow: 2px 2px 30px rgba(0,0,0,.5);
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 5%;
      height: 100%;
      position: relative;
      margin-bottom: 7%;
    }
      .menu ul li a {
        font-size: 1.1em;
        color: #ffffff;
      }

/* -------- CEBEÇALHO SOBRE ---------- */

  #sobre p {
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,.5);
    border-radius: 1%;
    width: 70%;
    margin-left: 5%;
    padding: 10%;
    font-size: 1.5em;
    position: inherit;
  }
    #sobre h2 {
      margin-bottom: 1%;
      border-radius: 1.5%;
      box-shadow: 2px 2px 30px rgba(0,0,0,.5);
      position: inherit;
      background-color:;
      color: #ffffff;
      width: 80%;
      margin-left: 5%;
      padding: 5%;
      font-size: 1.4em;
    }

/* ------ PORTFÓLIO IMAGENS --------- */
#portfolio {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
  #portfolio h2 {
    color: #000;
    background-color: #ffffff;
    width: 80%;
    height: 5%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 3px;
  }
    #portfolio img {
      position: static;
      top: 3%;
      margin-bottom: 1%;
      box-shadow: 2px 2px 30px rgba(0,0,0,.5);
      width: 90%;
    }
